extends layout

block contentX

    div.box
        //- content
        span(style="font-size:20px;") #{content.title}
        span(style="float:right;")
            a.tblink(href="javascript:;", onclick="info('" + content.id + "')") #{content.nickname}
        hr
        span(style="float:right; font-size:13px;") #{content.writedate}
        br
        span(style="float:right; font-size:13px;") 조회 #{content.hit}  댓글 #{content.comment.length}
        - if ( listurl == "music" )
            br
            span(style="float:right; font-size:13px;") 평점 #{content.grade} by #{content.gradeby.length}명
        br
        br

        div(style="padding:20px;")
            pre.contentView #{content.content}
        br
        br
        br
        div(style="text-align:center;")
            - if ( listurl == "free" )
                button= '추천 ' + content.recommend
            - else if ( listurl == "music" && user.id )
                select
                    option(value="10") ★★★★★
                    option(value="9") ★★★★☆
                    option(value="8") ★★★★
                    option(value="7") ★★★☆
                    option(value="6") ★★★
                    option(value="5") ★★☆
                    option(value="4") ★★
                    option(value="3") ★☆
                    option(value="2") ★
                    option(value="1") ☆
                button= '평가'
        br
        hr

        //- comments and buttons
        table.tb2
            br
            each val in content.comment
                tr(style="height:110px; vertical-align:top;")
                    td(style="text-align:center; vertical-align:middle; width:110px; border-right:1px solid rgb(0,91,159);")
                        img(src="images/profileimages/" + val.id, width="70", height="70")
                    td
                        div(style="font-size:12px; padding:2px; margin-left:5px; border-bottom:1px dotted rgb(0,91,159);")
                            - if ( val.id == 'admin' )
                                b
                                    a.tblink(href="javascript:;", onclick="info('" + val.id + "')") #{val.nickname}
                            - else
                                a.tblink(href="javascript:;", onclick="info('" + val.id + "')") #{val.nickname}
                            span(style="font-size:12px; float:right;")
                                - if ( user.id == val.id || user.id == 'admin' )
                                    form(action="./delete/freecomment", id="removeCmt" + val.num, method="POST", style="display:none;")
                                        input(type="hidden", name="contentnum", value= content.num)
                                        input(type="hidden", name="num", value= val.num)
                                        input(type="hidden", name="id", value= val.id)
                                    a.link(href="javascript:;", onclick="document.getElementById('removeCmt" + val.num + "').submit()") 삭제  
                                span #{val.writedate}
                        div(style="padding:10px;")
                            - if ( content.id == val.id )
                                span(style="color:blue;") #{val.comment}
                            - else
                                span #{val.comment}
                    td(style="text-align:right;")

        br
        - if ( user.id )
            br
            form(method="POST", action="./comment")
                input(type="hidden", name="board", value= listurl)
                input(type="hidden", name="_id", value= content._id)
                table(style="width:700px; margin:auto;")
                    tr
                        td
                            textarea(cols="80", rows="5", name="comment")
                        td
                            input(type="submit", name="cmt", value="댓글달기", style="width:100px; height:80px;")
            br
            hr
        - else
            hr
        
        - if ( user.id == content.id || user.id == 'admin' )
            form(action="./delete/free", method="POST", onsubmit="return confirmRemove();")
                input(type="submit", value="삭제", style="float:right;")
                input(type="hidden", value= content.id, name="id")
                input(type="hidden", value= content.num, name="num")
        button(style="float:right;" onclick="location.href='./" + listurl + "'") 목록
    br
    br

    div.box
        //- show board list
        span #{type}
        hr
        br
        br
        table.tb
            tr(style="height:25px; font-weight:bold;")
                td(style="70px;") 번호
                td(style="160px;") 제목
                td(style="65px;") 작성자
                td(style="100px;") 날짜
                td(style="55px;") 조회수
                td(style="40px;") 추천

            each val in all
                tr(class="trhover")
                    td #{val.num}
                    td
                        a.link(href="./content?type=free&num=" + val.num) #{val.title}
                    td
                        a.link(href="javascript:;", onclick="info('" + val.id + "')") #{val.nickname}
                    td #{val.writedate}
                    td #{val.hit}
                    td #{val.recommend}